.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.AboutBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.AboutImg {
  margin: 2em;
  width: 45%;
}

.AboutText {
  margin: 2em;
  width: 45%;
}

/* .EnterButton {
  color: white;
  background-color: black;
  font-size: 1.5em;
  border-radius: 25px;
  height: 3em;
  width: 8em;
  margin: 0 10vw;
  border: none;
  cursor: pointer;
  font-family: 'Dancing Script', cursive;
} */

.Footer {
  font-size: 1em;
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Silkscreen', sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 85%;
  color: white;
  z-index: 5;
}

.Header {
  font-family: 'Silkscreen', sans-serif;
  font-size: 1.5em;
}

.Home h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}

.HomeBody {
  display: flex;
  justify-content: center;

}

.HomeBody h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3.2em;
  margin-top: 2em;
}

.HomeImg {
  margin: 2em;
  width: 65%;
}

.Link {
  color: #F5F5F5;
  text-decoration: none;
}

.Navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.9em;
  background-color: black;
  color: white;
  box-shadow: 1px 15px 20px #00000041;
  height: 7vh;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Dancing Script', cursive;
}

.Navbar a {
  transition: transform 0.2s;
  transition: 0.1s;
  border-radius: 5px;
  padding: 10px;
}

.Navbar a:hover {
  transform: scale(1.05);
  cursor: pointer;
  /* background-color: #F05454; */
}